{%  extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    {% load static %}
        <link rel="stylesheet" href="{% static '/core/terms.css' %}">
    <body>
        <div class="container">
            <h1>Welcome to A.L.F.A Errortronics</h1>
            <p>Your go-to place for quirky electronics and accessories!</p>
            <p>Based in our grandma's basement since... well, forever.</p>
            <img src="#">
            <p>At A.L.F.A Errortronics, we're all about embracing the unique and eccentric side of technology. Who needs a fancy corporate office when you can shop for the latest gizmos in the comfort of your grandma's basement? It's cozy, nostalgic, and occasionally, our cat Buttons might join the conversation during a customer support call.</p>
            <p>Our carefully curated collection includes a wide range of electronics like computers, cell phones, and their accessories. Don't be surprised if you find a vintage Walkman nestled between the latest smartphones.</p>
            <p>Our team of experts, led by the wise Grandma herself, is always on hand to help you navigate through the wonderful world of Errortronics. We may not have a posh storefront, but what we lack in glamour, we make up for in charm and passion for gadgets that make you scratch your head and say, "Wait, it does what?"</p>
            <p>So, sit back, relax, and enjoy your virtual journey through our errortronic wonderland. And if you ever find yourself in the neighborhood, drop by for a cup of tea and maybe a glimpse of our legendary collection of tangled cables.</p>
            <p>Thanks for stopping by!</p>
        </div>
    </body>
{% endblock %}